doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    meta(name="author" content="Wolfger Schramm <wolfger@spearwolf.de>")
    title spearwolf.de / wolfger schramm / freelance front-end developer
    script(type="application/ld+json")
        include schema/person.json
    script(type="application/ld+json")
        include schema/website.json
    style
        include ./fonts.css
    style
        include .tmp/index.css
  body

    main
      .logo-container.container
        img.logo-image(src="images/spearwolf-logo-201604.png" srcset="images/spearwolf-logo-201604.png 1x, images/spearwolf-logo-201604@2x.png 2x" alt="spearwolf")

      .info-container.container
        .info.info--headline
            | Wolfger Schramm
        .info.info--subtitle
            | freelance front-end developer
        .info.info--text
            | javascript &#8226; react &#8226; redux &#8226; html5 &#8226; full-stack &#8226; node.js &#8226; microservices &#8226; single page apps &#8226; interactive websites &#8226; prototyping &#8226; mobile &#8226; ux &#8226; webgl &#8226; gamedev

      .teaser-container.container
        img.teaser-image(src="images/spw-oktopus.png" srcset="images/spw-oktopus.png 1x, images/spw-oktopus@2x.png 2x" alt="oktopus (red)")

      .social-container.container
        dl
          dt.social-label.social-label--xing xing
          dd
            a(href="https://www.xing.com/profile/Wolfger_Schramm" target="blank")
              | Wolfger Schramm
          dt.social-label.social-label--github github
          dd
            a(href="https://github.com/spearwolf/" target="blank")
              | github.com/spearwolf
          dt.social-label.social-label--email email
          dd
            a(href="mailto:wolfger@spearwolf.de" target="blank")
              | wolfger@spearwolf.de
          dt.social-label.social-label--phone phone
          dd +49 151 41 939 413


    script(src="spearwolf.js")

